# Ignoră directoarele AppData și alte fișiere de sistem
**/AppData/
**/Local/
**/Temporary Internet Files/
**/Content.IE5/
**/INetCache/
**/ElevatedDiagnostics/

# Ignora fișierele temporare ale sistemului Windows
Thumbs.db
Desktop.ini

# Ignora fisierele si directoarele generate de compilator
*.exe
*.out
*.o
/build/

# Fisiere log sau temporare
*.log
*.tmp
